TonnelApp/.vs/TonnelApp/v16/Server/sqlite3/db.lock
TonnelApp/.vs/TonnelApp/v16/Server/sqlite3/storage.ide
TonnelApp/.vs/TonnelApp/v16/Server/sqlite3/storage.ide-wal
TonnelApp/TonnelApp/obj/Debug/TonnelApp.csprojAssemblyReference.cache
TonnelApp/.vs/TonnelApp/v16/Server/sqlite3/storage.ide-shm
