TonnelApp/.vs/TonnelApp/v16/Server/sqlite3/db.lock
TonnelApp/.vs/TonnelApp/v16/Server/sqlite3/storage.ide
TonnelApp/.vs/TonnelApp/v16/Server/sqlite3/storage.ide-shm
TonnelApp/.vs/TonnelApp/v16/Server/sqlite3/storage.ide-wal
TonnelApp/.vs/TonnelApp/v16/Server/sqlite3/storage.ide-wal
TonnelApp/TonnelApp/obj/Debug/TonnelApp.csprojAssemblyReference.cache
TonnelApp/.vs/TonnelApp/v16/Server/sqlite3/storage.ide-shm
TonnelApp/.vs/TonnelApp/v16/Server/sqlite3/storage.ide-shm
TonnelApp/.vs/TonnelApp/v16/Server/sqlite3/storage.ide-wal
TonnelApp/TonnelApp/bin/Debug/TonnelApp.exe
TonnelApp/TonnelApp/bin/Debug/TonnelApp.pdb
TonnelApp/TonnelApp/obj/Debug/TonnelApp.csprojAssemblyReference.cache
TonnelApp/TonnelApp/obj/Debug/TonnelApp.exe
TonnelApp/TonnelApp/obj/Debug/TonnelApp.pdb
TonnelApp/.vs/TonnelApp/v16/.suo
TonnelApp/.vs/TonnelApp/v16/Server/sqlite3/storage.ide~feature_ImplementationSimulator
TonnelApp/.vs/TonnelApp/v16/Server/sqlite3/storage.ide-wal~feature_ImplementationSimulator
TonnelApp/TonnelApp/obj/Debug/TonnelApp.csproj.FileListAbsolute.txt

